<div class="bg-blue p-5">
  <div class="container text-white">
    <h5 class="text-light"><b>Twitterは</b></h5>
    <h1><b>多様な価値観と様々なバックグラウンドを持つ社員が協働し、世界35カ所以上のオフィスで事業展開しています。
    </b></h1>
  </div>
</div>
<div class="bg-dark p-5">

<!--ツイート-->
    <div class="row mb-5 ">
      <div class="col-7 m-auto">
        <div class="text-white border border-white p-4 mt-5">
          <%= image_tag("logo.png" ,class:"float-right" , width:"50", height:"50" ) %>
          <div>
            <h4><b>Twitter Together</b></h4>
           <span>‎@TwitterTogether‎  verified</span>
                      
            <p><b>“Me.” is who “I am”. I have many intersections —some you can see and some you
            cannot see. When I share my intersections, you might just learn there is more that 
            connects us than divides us. Be open. #MeetAtTheIntersection #GrowTogether Me. We. Us. The World.</b></p>
            
            
              <h5><i class="fa fa-heart"> 400</i></h5>
              <h5><i class="fa fa-comment-alt"> 150</i></h5>
              <h5 class="text-end">29 3月 2019</h5>
          </div>
        </div>
      </div>   
    </div>
  
</div>

<div class="p-5">
  <div class="container">
    <h2><b>経営陣のご紹介</b></h2>
  
    <div class="">
        Parag Agrawal
        テクノロジーリード
        
        Bio ‎@paraga‎
        Leslie Berland
        人事兼マーケティングリード
        
        Bio ‎@leslieberland‎
        Kayvon Beykpour
        プロダクトリード
        
        Bio ‎@kayvz‎
        Matt Derella
        カスタマーリード
    </div>
    
  </div>

</div>


<div class="bg-white p-5 ">
  <div  class="container">
      <%= image_tag("logo.png" ,class:"" , width:"100", height:"100") %>
      <h3 class="text-blue"><b>仕事にやりがいを見出す</b></h3>
      <h1><b>クリエイティブで好奇心旺盛な世界中のチームメンバーと一緒に働こう</b></h1>
      <button class="btn btn-primary rounded-pill mt-3">採用情報を見る</button>
  </div>
</div>



<style>
    h1{
      font-size: 70px;
    } 
    h3{
      font-size: 40px;
    }
    .opacity{
      font-size: 100px;
    }
    
    
    #header{
      background-color: deepskyblue;
    }
    #link{
      color: white;
    }
</style>
