
<div class="bg-blue p-5">
  <h1 class="text-white text-center mt-5 mb-5"><b>Copwitter hepler</b></h1>
</div>


<div>
   <div class="container">
       <div class="row"> 
          <div class="col-4"> 
 
          </div>
          
          
          <div class="col-8"> 
           </div>
      </div>
  </div>
  
<div class="bg-light p-5">
  <div class="container">
    <h1 class="text-center"><b>お問い合わせ</b></h1>
      <div class="w-50 m-auto">
        <textarea class="w-100 mt-3 mb-3"  cols="40" rows="8">  </textarea>
        <div class="text-right">
          <%= link_to "送信", static_pages_hepl_path, class:"btn btn-primary rounded-pill pl-5 pr-5"%>
          <!--<button class=""></button>-->
        </div>
      </div>
  </div>
</div>

<%= render "layouts/footer2" %>

<style>
    h1{
      font-size: 40px; 
    }
    #header{
      background-color: deepskyblue;
    }
    #link{
      color: white;
    }
</style>