<div>

  <div class="bg-blue text-white p-5">
      <div class="container mt-5 mb-5">
          <h1 ><b>Twitterのプライバシーポリシー</b></h1>
          
          <div class="row"> 
            <div class="col-2"> 
            </div>
        
            <div class="col-8"> 
              <h2><b>ユーザーは、Twitterがユーザーから収集するデータの種類とその使用
              方法を常に理解し、その両方を有意義に管理することができなければならない、
              Twitterはこのように考えています。そのために、ユーザーには、Twitterと共有する
              情報について、最善の決定を行う権利を与えたいと考えています。</b></h2>
          
              <h2><b>それがこのプライバシーポリシーの目的です。</b></h2> 
            </div>
          </div>
      </div>
  </div>
  
  <div class="bg-light text-center p-5">
    <div class="container">
      <div class="row"> 
          <div class="col-2"> 
          </div>
      
          <div class="col-8"> 
            <h4><b>本プライバシーポリシー全文をお読みになることをおすすめしますが、
            以下に重要な内容をいくつかご紹介します。</b></h4>
          </div>
      </div>
    </div>
  </div>
  
  <div class="p-5">
    <div class="container">
      <div class="row"> 
        <div class="col-2"> 
        </div>
        
        <div class="col-8"> 
    
          <p class="mb-5">
          Twitterは公開され、ツイートは世界中の人々によって即座に閲覧および検索可能となります。
          Twitter上では、保護されたツイートやダイレクトメッセージによって、
          非公開形式で通信を行うこともできます。また、実名を使用したくない場合には、
          仮名でTwitterを利用することもできます。
          </p>
          <p class="mb-5">
          Twitterを利用する際には、たとえツイートを見ているだけであっても、
          使用している端末の種類やIPアドレスといったユーザーの一部の個人情報が
          Twitterに送信されます。ユーザーは、自身のメールアドレス、電話番号、
          アドレス帳の連絡先、および公開プロフィールなどのさらなる情報をTwitterと共有することができます。Twitterはこれらの情報を、ユーザーのアカウントを安全に保護するため、ユーザーにより関連のあるツイート、フォローすべき人、イベント、および広告を表示するため等の目的に使用します。
          </p>
          <p class="mb-5"> 
          ユーザーは、アカウントの設定からTwitterが収集するデータとその使用方法
          を制限したり、アカウントのセキュリティ、マーケティング設定、ユーザーの
          アカウントにアクセス可能なアプリ、そしてユーザーがTwitterにアップロードし
          たアドレス帳の連絡先を管理したりすることができます。ユーザーは、Twitter上
          で自身が共有した情報を好きな時にダウンロードすることもできます。
          </p>
          <p class="mb-5">
          ユーザーがTwitterと共有した情報に加えて、Twitterは、ユーザーのツイート、
          ユーザーが閲覧したコンテンツ、「いいね」をしたコンテンツ、リツイートした
          コンテンツ、また、ユーザーが興味・関心のある話題、ユーザーの年齢、ユーザー
          の言語を理解するためのその他の情報、およびその他の信号を使用して、ユーザーに
          より関連のあるコンテンツを表示します。透明性を高めるために、ユーザーはTwitter
          がどのような情報を保有しているかを知ることができ、またいつでもそれらの情報を変
          更または訂正することができます。
          </p>
          <p class="mb-5">
          本ポリシー、Twitterがユーザーの個人情報を収集または処理する方法、その他のTwitterによるプライバシーの取扱いに関する事項についてご質問がある場合には、いつでもお問い合わせください。
          </p>  
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-danger p-5">
    <div class="container">
      <h1 class="text-white mt-5 mb-5"><b>ユーザーがTwitterと共有する情報</b></h1>
    </div>
  </div>
  
  <div class="bg-light text-center p-5">
    <div class="container">
       <div class="row"> 
          <div class="col-2"> 
          </div>
          
          <div class="col-8"> 
            <h4><b>ユーザーにTwitterのサービスを提供するためには、一定の情報が必要となります。たとえば、
            Twitter上でコンテンツをアップロードまたは共有するためには、アカウントが必要となります。
            ユーザーが以下の情報をTwitterと共有する場合、Twitterはサービスを運営するためにそれらの情報を
            収集および使用します。</b>
            </h4>
          </div>
        </div>
    </div>
  </div>
   
   
   <!--**************************************************************************************************************-->
  <div class="container" id="main_top">
    <div class="row">
      <div class="col-4 p-5" >
        <div id="bar">
          <p><b>基本アカウント情報</b></p>     
          <p><b>公開情報</b></p>
          <p><b>連絡先情報とアドレス帳</b></p>
          <p><b>ダイレクトメッセージおよび非公開の通信</b></p>
          <p><b>お支払情報</b></p>
          <p><b>Twitterと共有する情報の管理方法</b></p>
        </div>
      </div>
      
      <div class="col-8 p-5">
      
          <!--1.1-->
          <div class="mb-5" >
            <h4 >1.1</h4>
            <h1 class="text-purple" id="title1-1" ><b>基本アカウント情報</b></h1>
            <p>
              公開されたTwitterのプロフィールの検索や閲覧、
              またはPeriscopeのウェブサイト上のライブ動画の視聴など、Twitterのサービス機能の一部は、
              アカウントを作成することなく利用できます。ユーザーがアカウントを作成する場合には、
              Twitterがユーザーにサービスを提供できるように、一定の個人情報を提供する必要があります。
              それらの個人情報には、Twitterの表示名（例えば、「Twitter Moments」）、ユーザー名
              （例えば、@TwitterMoments）、パスワード、メールアドレスまたは電話番号が含まれます
              。ユーザーの表示名とユーザー名は常に公開されますが、実名または仮名のいずれも使用することが
              できます。ユーザーは、例えば、異なる自分を表現するために、複数のTwitterアカウントを作成し管
              理することもできます。 </p>
          </div>
          
          <!--1.2-->
          <div class="mb-5">
            <h4>1.2</h4>
            <h1 class="text-purple" id="title1-2"><b>公開情報</b></h1>
            <p>自身のプロフィール情報、 タイムゾーンと言語、アカウントの作成日、
            ツイート、ツイートした日付と時間、およびツイートの際に利用した
            Twitterのアプリケーションとバージョンなどのツイートに関する一定の情報を含む
            Twitter上のほとんどのアクティビティは公開されます。ユーザーはツイートや
            Twitterプロフィールで自身の位置情報を公開することもできます。ユーザーが作成したリスト
            、ユーザーがフォローしている人、ユーザーをフォローしている人（フォロワー）、
            ユーザーが「いいね」またはリツイートしたツイートも公開されます。Periscopeまたは
            Twitter上で自身が作成、クリックその他の形で関係するPeriscopeのライブ動画は、
            ユーザーがそれらの行為を取ることに伴い公開されます。また、自身のハート、コメント
            、受け取ったハートの数、Superfanになっているアカウント、そしてライブ動画またはリプレイを視聴したか否かも公開されます。他のアカウントのライブ動画に自身が送ったハート、コメント、またはその他のコンテンツは、そのライブ動画がPeriscope上にアップロードされている限り、そのライブ動画の一部として残り続けます。Twitterのサービスを利用している他のユーザーがあなたについて投稿した情報も公開される可能性があります。たとえば、他の人が写真にあなたをタグ付けしたり（あなたの設定でそれが許可されている場合）、またはツイートであなたに言及したりする可能性があります。
            利用者は、Twitterのサービスを通じて自身が行うツイートと自身が提供するその他の情報に責任を持つ必要があり、
            自身が公開する情報（特に、個人情報）については慎重に考える必要があります。ユーザーがツイート
            を削除したり、アカウントを停止したりすることでTwitterにおける公開情報を更新した場合には、
            Twitter.com、iOS向けのTwitter、そしてAndroid向けのTwitterにその更新内容が反映されます。
            
            Twitter上で直接ユーザーの公開情報を世界に配信する以外にも、Twitterは、
            アプリケーションプログラミングインタフェース（API）
            や埋め込みなどの技術を使用して、たとえば、ニュースウェブサイトに
            ツイートを表示したり、またはTwitterにおける人々のコメントを分析したりする等、
            ユーザーの公開情報を各種ウェブサイト、アプリ等が使用できるように提供します
            。Twitterでは、通常、このようなコンテンツへのアクセスを限られたアクセス数であれば
            無料で提供し、一定のアクセス数を超える場合は、ライセンス料を請求します。Twitterでは、
            このような情報の使用について規定した標準条項、そしてこれらの条項を遵守するための
            コンプライアンスプログラムを設けています。しかし、これらの相手方である個人または企業は
            Twitterの関連会社ではないため、ユーザーがTwitter上で行う更新が当該個人および
            企業のサービスに反映されるとは限りません。Twitterが、Twitterにおける公開情報を
            世界中に提供する方法の詳細については、 https://developer.twitter.comをご覧ください。
          </p>
          </div>
          
          
          <!--1.3-->
          <div class="mb-5">
            <h4 > 1.3</h4>
            <h1 class="text-purple" id="title1-3"><b>連絡先情報とアドレス帳</b></h1>
            <p>
            Twitterは、ユーザーのメールアドレスや電話番号などの連絡先情報を、
            ユーザーのアカウントを認証し、ユーザーのアカウントとTwitterのサービス
            を安全に保護し、スパム、詐欺行為および不正使用を防ぐために使用します。
            また、Twitterのサービスをパーソナライズするため、特定のアカウント機能
            （ログイン認証またはSMS経由でのTwitterの使用など）を有効にするため、
            さらにはTwitterのサービスについての情報をユーザーに送信するためにも連絡先情報
            を使用します。Twitterに電話番号を提供される場合には、ユーザーの国の法律において
            認められているところに従い、その番号にTwitterからテキストメッセージが送信される
            ことに同意することになります。また、Twitterは、ユーザーの連絡先情報を使用して、
            ユーザーの国の法律において認められているところに従い、広告宣伝を行ったり、ユーザ
            ーの設定で許可されている場合に、第三者のサービスやクライアントアプリケーションを
            通じて他の人がユーザーのアカウントを見つけられるようにしたりします。ユーザーは自身
            のアカウントの設定から、Twitterから受け取るメールとモバイル通知を管理することがで
            きます。また、Twitterからの通知またはこちらに記載の手順に従って、通知の解除を行うこともできます。
            
            Twitter上にアドレス帳をアップロードして同期することもできます。アドレス帳は、
            Twitterで知り合いを見つけてつながったり、他の人があなたを見つけてつながったりする際に
            役立ちます。この情報は、ユーザーと他の人により良いコンテンツをお薦めするためにも使用されます。
            
            ユーザーは、Twitter、Google、またはFacebookなどの別のサービスのアカウントを使用
            してPeriscopeにサインアップすることができます。また、自身のPeriscopeアカウント
            をこれらの他のサービスに結び付けることができます。その場合、Twitterはユーザー
            のメールアドレス、友達、あるいは連絡先リストなど、そのサービスから入手した情報
            を使用することで、ユーザーに他のアカウントまたはコンテンツをお薦めしたり、他の人
            にユーザーのアカウントまたはコンテンツをお薦めしたりします。ユーザーは、Periscope
            の設定から、メールで自身のPeriscopeアカウントを見つけることができるようにするか否かを管理できます。
            
            ユーザーがTwitterにメールを送信された場合、Twitterはお問い合わせに対応するため
            に、そのメッセージの内容、メールアドレスおよび連絡先情報を保存します。
            </p>
          </div>
          
    
         <!--1.4-->
          <div class="mb-5">
            <h4>1.4</h4>
            <h1 class="text-purple" id="title1-4"><b>ダイレクトメッセージおよび非公開の通</b>信</h1>
             <p>Twitterでは、ユーザーが秘密に通信を行うことができる、
            または自身のコンテンツを閲覧可能な者の範囲を管理することができる
            機能を提供しています。たとえば、ダイレクトメッセージを使用することで
            Twitter上で非公開の会話を行ったり、自身のツイートを保護したり、
            Periscopeで非公開のライブ動画を配信したりすることができます
            。Twitterは、ユーザーがダイレクトメッセージの送受信によって他
            の人と通信をした場合、その通信内容および関連する情報を保存し処理します。
            処理には悪質なコンテンツへのリンクのスキャン、http://t.coのURLへのリンク
            短縮、禁止された画像とスパムの検出、および報告された問題の確認が含まれま
            す。また、ユーザーがいつ、誰と通信をしたかについての情報（通信内容は除きま
            す）を使用することで、Twitterのサービスの利用状況をより良く理解したり
            、Twitterのプラットフォームの安全性と完全性を保護したり、より関連のある
            コンテンツを表示したりします。Twitterは、ユーザーのダイレクトメッセージ
            の内容を、その送信相手と共有します。ユーザーへの広告配信のために当該内容
            を使用することはありません。ユーザーが、たとえば、ダイレクトメッセージを
            介して共有されているツイートに「いいね」をする等、通常であれば公開される
            方法でTwitterのコンテンツをやり取りした場合、これらのやり取りは公開される
            ことに注意してください。通信を行うためにダイレクトメッセージ等の機能を使用す
            る際には、たとえあなたが自身のアカウントからそのメッセージのコピーを削除したと
            しても、そのメッセージについてTwitter上で受取人がコピーを保有しており、受取人が
            そのメッセージを複製、保存または再共有する可能性があることを忘れないでください。  
            </p>
          </div>
    
    
    
      
         <!--1.5-->
          <div class="mb-5">
            <h4>1.5</h4>
            <h1 class="text-purple" id="title1-5"><b>お支払情報</b></h1>
            <p>ユーザーは、Twitterのサービスの一部として提供される広告またはその他のサービスを
              購入するために、クレジットカードまたはデビットカードの情報、カードの有効期限、
              CVVコードおよび請求先住所などのお支払情報をTwitterに提供することができます。 
              </p>
          </div>
    
           <!--1.6-->
            <div class="mb-5">
              <h4 >1.6</h4>
              <h1 class="text-purple" id="title1-6"><b>Twitterと共有する情報の管理方法</b></h1>
              <p>利用者のアカウントのプライバシー設定と安全性設定では以下のことを選択できます。
                Twitter上で自分のツイートを公開するか否か
                他の人が写真に自分をタグ付けできるようにするか否か    
                Twitter上で誰からでもダイレクトメッセージを受け取れるようにするか、
                またはフォロワーからのみ受け取れるようにするか
                自分のメールまたは電話番号を手掛かりとして、他の人が自分を見付けられるようにするか否か
                保存および使用するために、Twitter上に自分のアドレス帳をアップロードするか否か
                Twitter上で個人情報を表示する時と場所
                他のTwitterアカウントをブロックまたは ミュートしたいか否か
                </p>
            </div>
      </div>
    </div>
  </div>
  
  <div class="bg-success">
    <div class="container p-5">
      <h1 class="text-white mt-5 mb-5"><b>Twitterのグローバルオペレーションおよびプライバシー・シールド</b></h1>
    </div> 
  </div> 
  
  <div class="container">
    <div class="row"> 
      <div class="col-4">
      </div>
      <div class="col-8 p-5">
        <p>Twitterは、ユーザーにTwitterのサービスを提供するために、
        世界中で運営されています。ユーザーの国の法律で許可されている場合、
        ユーザーは米国、アイルランド、そしてTwitterが事業を展開しているその他の国々で
        Twitterがユーザーのデータを移転、保存、および使用することに同意します。
        Twitterが個人情報を移転する国々の中には、政府当局がどのような場合にデータに
        アクセスできるかに関するプライバシーおよびデータ保護に関する法令が、ご自身が
        居住する国と異なる場合があります。Twitterのグローバルオペレーションおよびデータ
        移転の詳細についてはこちらでご確認ください。
        </p>
        
        <p>
          EUまたはEFTA諸国の国外に個人情報を移転する場合、Twitterは、データを受け取る
          国のデータ保護法の妥当性、データの受取人に課せられる契約上の義務（下記の通り、
          調査によってモデル条項が要求される場合があります）、あるいはEU・米国間およびスイス・
          米国間のプライバシー・シールドの原則に基づいて、データ主体の権利が適切な水準
          で保護されることを保証します。
        </p>
        
        <p>
          Twitter, Inc.は、TwitterのEU・米国間プライバシー・シールド認定およびスイス・
          米国間プライバシー・シールド認定の記述に従い、EU諸国およびスイスからの個人情報の
          収集、使用、共有、および保持に関するEU・米国間およびスイス・米国間のプライバシー
          ・シールドの原則（以下「本原則」）を遵守します。
        </p>
          <p>
            プライバシー・シールドに関連するお問い合わせについては、
            当社までご連絡ください。Twitterは、プライバシー・シールドへの
            参加の一環として、Twitterの本原則の遵守に関連してユーザーと
            Twitterとの間に問題が発生した場合、内部の苦情解決プロセスを通
            じて、または外部紛争解決機関であるJAMS、さらに一定の状況におい
            ては、プライバシー・シールドの仲裁プロセスを通じて問題の解決を図ります。
          </p>
          
          <p>
            プライバシー・シールドへの参加者は、米国連邦取引委員会およびそ
            の他の権限を有する法定の機関による調査および強制執行に従うこと
            が義務づけられています。一定の状況においては、参加者は、EU諸国
            またはスイスからEU諸国およびスイス以外の第三国への個人情報の移転
            に関して責任を負う場合があります。EU・米国間プライバシー・シールド
            およびスイス・米国間プライバシー・シールドの詳細についてはこちらをご覧ください。
          </p>
    
      </div>
    </div>
  </div>
  
   <div class="bg-warning p-5">
    <div class="container">
      <h1 class="text-white mt-5 mb-5"><b>お子様とTwitterのサービス</b></h1>
    </div>
  </div>
  
  
  <div>
    <div class="container mt-5 mb-5">
     <div class="row"> 
      
        <div class="col-4"> 
        </div>
        
        <div class="col-8">  
          <p>Twitterのサービスはお子様を対象とはしておらず、
          13歳未満のお子様によるTwitterのサービスの利用は禁止されています
          。また、ご自分の国において個人情報の処理に同意するために十分な年齢
          に達している必要があります（一部の国では、ユーザーに代わって親または
          保護者の方に同意してもらうことを許可する場合があります）
          。Periscopeは、16歳以上の方にのみご利用いただけます。
          </p>
        </div>
      </div>
    
    </div>
  </div>
  
  
  
  <div class="bg-primary p-5">
    <div class="container">
      <h1 class="text-white mt-5 mb-5"><b>本プライバシーポリシーの変更</b></h1>
    </div>
  </div>
  
  <div class="p-5">
    <div class="container">
      <div class="row"> 
      
        <div class="col-4"> 
        </div>
        
        <div class="col-8">  
          <p>
          本プライバシーポリシーは適宜改定されます。Twitterによるユーザーの
          個人情報の処理には、本ポリシーの最新版が適用されます。また、最新版
          は常にこのページ（ https://twitter.com/privacy）でご確認ください。
          Twitterが、独自の判断で重要と考える変更を本ポリシーに加える場合には、
          @Twitterの更新情報、またはユーザーのアカウントに関連付けられたメール
          アドレス宛のメールでお知らせします。本ポリシーへの変更が効力を生じた
          後にTwitterのサービスへのアクセスまたはTwitterのサービスの利用を継続
          する場合、ユーザーは、改定後の本プライバシーポリシーに拘束されること
          に同意するものとします。
          </p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="bg-light p-5">
    <div class="container">
      <h3 class="text-center">発効日：2018年5月25日</h3>
    </div>
  </div>

</div>

<style>
  h1{
    font-size: 60px;
    }
        
    #header{
      background-color: deepskyblue;
    }
    #link{
      color: white;
    }
</style>

<script src="https://code.jquery.com/jquery-3.0.0.js"></script>
<script>
    $(function(){
      var main_offset= $("#main_top").offset().top;
      var bar = $("#bar");
      var sub_title=[]
      var title = []
      var font_color= "darkorchid" 
      var title_end = $("")
       $("#main_top").css("position","static")

      // タイトルとサブタイトルを格納
      $('#bar p').each(function(i, e) {
          sub_title[i] = $(e)
      })
      $('h1.text-purple').each(function(i, e) {
          title[i] = $(e)
      })
      
        //ページ内スクロール
      $('#bar p').click(function () {
          let i = $('#bar p').index(this)
          var p = title[i].offset().top;
          $('body,html').animate({ scrollTop : p }, 500, 'swing'); 
          return false;
      });
      
      // スクロールイベント
      $(window).scroll(function() {
        var scroll_size = $(window).scrollTop() 
          if(scroll_size > main_offset ){
            bar.css("position","fixed") 
            bar.css("top","40px")
            
            for ( var i = 0; i<sub_title.length; i++ ) {
                sub_title[i].css("color","black")
             
                  
              if(i+1 === sub_title.length){
                    if(scroll_size >= title[sub_title.length-1].offset().top){
                    bar.offset({ top: title[sub_title.length-1].offset().top ,});
                    sub_title[i].css("color",font_color)
                  }
                }else{
                  if(scroll_size >= title[i].offset().top && scroll_size < title[i+1].offset().top){
                    sub_title[i].css("color",font_color)
                    console.log("scroll",scroll_size)
                  }
                }  
            }
            
          }else{
            bar.css("position","static") 
            bar.css("color","black")
          }
      });
      
      
    });
</script>