<p class="name" >Hi <%= @user.name %>,</p>
<p class="subtitle">
パスワードを再設定します。以下のリンクにアクセスして下さい
</p>

<%= link_to  edit_password_reset_url(@user.reset_token, email: @user.email), 
                edit_password_reset_url(@user.reset_token, email: @user.email) %>

<p>This link will expire in two hours.</p>

<p>
パスワードの再設定を要求しなかった場合は、このEメールを無視してください。
あなたのパスワードはそのまま残ります。
</p>

<!--スタイルの設定-->
<style>
  .title{
   text-align: center;
  }
  .title_image{
    width: 45px;
    height: 100%;
  }
  .name{
  color: gray;
  text-align: center;
  }
  .subtitle{
  color: gray;
  text-align: center;
  }
  .link{
   backgound-color: blue;
   border: 1px solid blue;  
   padding: 5px;
  }
</style>