<!--ユーザープロフィールページ-->
<div class="bg-white p-3 mb-2">
  <h6 class="font-weight-bolder">
          <%= image_tag("logo.png",class:"",width:"30" ,height:"30") %><%= user.name %> (ユーザー名)
          <small class="text-muted"><%= user.created_at %></small>
  </h6>
  <p>メール：<%= user.email %></p>
  <!--<p class="text-break">パスワード：<%#= user.password_digest %></p>-->
</div>

 <!--ユーザーコメント-->
<!--<li class="media">-->
<!--   <%#= image_tag "logo.png", :size =>'40x40' %>-->
<!--   <div class="media-body">-->
<!--     <h6 class="mt-0 mb-1 font-weight-bold">List-based media object</h6>-->
<!--     <tx class="text-secondary"> これはテスト  Crac ac nisi vulps inf.dfd;fld;lf;ld;fld;f;dfld;lflflflf4-->
<!--     ff;fd;lfd;,f;fgmlbkdf;gbsklgmb:lsdmb:klsm;glbkms;lkgbmlskgllllfaucibus.</tx>       -->
<!--   </div>-->
<!-- </li>-->