

    <!--ユーザーイメージ-->
    <div class="">
        <%= render "shared/user_background_image" %>
    </div>
    
    <!--モーションバー-->
    <%= render "shared/motion_bar"%>
    

<div class="bg-light">
  <div class="conteiner"> 
  
    <!--メインView-->
    <div class="row "> 
      
      <!--ユーザーステータス-->
      <div class="col-3 p-1">
        <p>ユーザーステータス</p>
        <%#= render "shared/user_image"%>
        
        <%= render "shared/user_status" %>
      </div>
      
      <!--編集フォーム-->
      <div class="col-6 p-1">
        <p>編集フォーム</p>
        <%= render "shared/edit_form" %>
      </div>
      
      <!--トレンド-->
      <div class="col-3 p-1">
        <p>急上昇トレンド</p>
        
        <div class="border border-white bg-white">
          <h5>トレンド</h5>
          <span class="text-muted">世界で人気の記事ですみんなでシェアしましょう</span>
        </div>
      </div>
    
    </div>
  </div>
</div>