

<!--ユーザーイメージ-->
<div class="bg-image">
  <div class="conteiner"> 
    <h1>Users#show</h1>
    <p>Find me in app/views/users/show.html.erb</p>
    <h1 class=" bg-gray text-center">ユーザーホーム画像</h1>
  </div>
</div>

<!--モーションバー-->
<%= render "shared/motion_bar"%>


<div class="bg-light">
  <div class="conteiner"> 
  
    <!--メインView-->
    <div class="row "> 
      
      <!--ユーザーステータス-->
      <div class="col-3 p-1">
        <p>ユーザーステータス</p>
        <%= render @users %>
        <%= render "shared/user_status" %>
      </div>
      
      <!--記事-->
      <div class="col-6 p-1">
        <p>記事</p>
        <%= render "shared/post" %>
      </div>
      
      <!--トレンド-->
      <div class="col-3 p-1">
        <p>アクション</p>
        <div class="border border-white bg-white">
          <h5>ツイッターを使ってみよう</h5>
          <span class="text-muted">登録してあなただけのタイムラインを作りましょう</span>
        </div>
        
        <div class="border border-white bg-white">
          <h5>トレンド</h5>
          <span class="text-muted">世界で人気の記事ですみんなでシェアしましょう</span>
        </div>
      </div>
    
    </div>
  </div>
</div>
