<div class="border border-white bg-white">
  <nav class="nav bg-white">
    <a href="#" class="nav-item">ツイート</a>
    <a href="#" class="nav-item">ツイートと返信</a>
  </nav>
  
  <p>ユーザーネーム</p>
  <p>コンテント</p>
  
  <nav class="nav">
    <li class="nav-item text-danger">いいね1554</li>
    <li class="nav-item text-primary">コメント3562</li>
  </nav>
</div>