<!--トレンド一覧-->
<div class=" bg-white p-2">
  <h5><b>トレンド</b></h5>
  <span class="text-muted">世界で人気の記事ですみんなでシェアしましょう</span>
  
  <% @trends = Post.find(Like.group(:post_id).order(Arel.sql('count(post_id) desc')).limit(5).pluck(:post_id)) %>
  <%# @trends = Post.all.take(5) %>
  <% @trends.each do |trend_post| %>
    <div>
      <div>
        <b class="text-primary" id="link">
         #<%= link_to trend_post.user.name , trend_post , class:"" %>
        </b>
      </div>
      <div class="text-truncate">
        <span class="d-inline-block text-truncate text-muted" style="max-width: 150px;">
          <%= trend_post.content  %>
        </span>
      </div>
    </div>
  <% end %>
</div>