<p>ステータス</p>
<!--何回も呼び出すのはナンセンス　@statusに統一すべき-->

<% if @users.status %>
  <p class="text-muted">住所  <%= @users.status.address %></p>
  <p class="text-muted">リンク <%= @users.status.link %></p>
  <p class="text-muted">登録日 <%= @users.created_at %></p>
  <p class="text-muted">誕生日 <%= @users.status.barthday %></p>
<% end %>