
<div class="background_image_form text-center " > 
    <%= form_for(@user,url: update_image_path , method: :post) do |f| %>
          <div class="text-center " id="img_field_1" onClick="$('#file_1').click()" >
              
              <!--// 画像があるときは画像を表示する-->
              <% if @user.background_image.present? %>
                <%= image_tag(@user.background_image.url , class:"w-100 h-100",id:"icon1") %>
              <% else %>
                <h1 class="img-fluid pt-5">プロフィール画像</h1>
                <i class="fas fa-image mt-4" style="font-size:130px;" id="icon1"></i>
              <% end %>
            
            
              <!--スピナー-->
               <div class="pt-4 bg-light" style="display: none;" role="status" id="spinner">
                <span class="spinner-border text-secondary" ></span>
              </div>
          
            </div>
          <!--ファイルフォーム-->
          <%= f.file_field :background_image ,class: "image", style: "display:none;", id: "file_1" %>
          <div class="update-button">
            <%= f.submit "アップロード", class: "btn  btn-secondary", id:"upload_btn" %> 
          </div>
         
    <% end %>
</div>
<!--トリミングjQuery-->
  <!-- CSS -->
<link  href="//cdnjs.cloudflare.com/ajax/libs/cropper/3.1.6/cropper.min.css" rel="stylesheet">
<!-- JS -->
<script src="//cdnjs.cloudflare.com/ajax/libs/cropper/3.1.6/cropper.min.js"></script>


<!--【画像アップロード】file_fieldデザイン変更＋画像選択時にプレビュー表示する方法-->
<script>
  $(function(){
    
    $fileField_1 = $('#file_1')
    var spinner = document.getElementById('spinner')
    var backicon = document.getElementById('icon1')
    
          // ビジーwaitを使う
          function sleep(waitMsec) {
            var startMsec = new Date();
            while (new Date() - startMsec < waitMsec);
          }
          // 選択された画像を取得し表示
          $($fileField_1).on('change', $fileField_1, function(e) {
          file_1 = e.target.files[0]
            // if (file.size/1024/1024 > 5) {
            //   alert('Maximum file size is 5MB. Please choose a smaller file.');
            // }
          reader = new FileReader(),
          $preview = $("#img_field_1");
          
          console.log('背景画像読み込み状態', reader.readyState); 
          // 読み込み開始
          reader.onloadstart = (function () { 
          backicon.style.display="none";
          spinner.style.display="block";
          console.log('背景画像読み込み状態', reader.readyState); 
          });
              
               
          // 読み込み中
          reader.onload = (function(file_1) {
            return function(e) {
              $preview.empty();
              sleep(300);
              $preview.append($('<img>').attr({
                src: e.target.result,
                width: "100%",
                height: "100%",
                class: "crop_image",
                title: file_1.name
              }));
            };
          })(file);
              
          // 読み込み終了
        reader.onloadend = function () { 
            spinner.style.display="none";
            backicon.style.display="block";
            console.log('背景画像読み込み状態', reader.readyState); 
            
            // クラッパー起動
            // var $image = $('.crop_image');
            // $image.css('overflow', 'hidden')
            // $image.cropper({
            //         viewMode:0,
            //         dragMode:"move",
            //         aspectRatio:13/5,
            //         wheelZoomRatio:0.05,
            //         modal:false,
            //         autoCropArea:1,
            //         cropBoxMovable:false,
            //         cropBoxResizable:false,
            //         dragCrop:false,
            //         toggleDragModeOnDblclick:false,
            //         built:function(){
            //             $(".crop_image").cropper(
            //                 "setCropBoxData",{left:50,top:40.5,width:1000,height:300}
            //             );
            //         }
            // });
        };
        if(file_1 != null ){
          console.log("ファイルあり", "");
          reader.readAsDataURL(file_1);
          $("#upload_btn").removeClass("btn-secondary")
          $("#upload_btn").addClass("btn-primary")
        }else{
          console.log("ファイルなし","");
          $("#upload_btn").addClass("btn-secondary")
        }
    });
    
    

  });
</script>