
<div class="border border-white bg-white mt-2">
  
  <div class=" p-5">
  
      <h3 class="text-center" >まだ記事が作成されていません</h3>
     <p class="text-center">したのボタンをおしてツイートに参加しましょう</p>
    
    <button class="btn btn-primary btn-sm btn-block mx-auto">ツイートする</button>
  </div>
</div>

