<header class="bg-white p-1 border-bottom">


  <div class="conteiner">
  
    
    <nav class="nav navbar-expand-lg navbar-white">
    
        <ul class="navbar-nav  mr-auto">
         <%= link_to image_tag("logo.png", alt: "Rails logo", class:"navbar-item" ,width:"40" ,height:"40") %>
          <li class="navbar-brand">twitter</li>
        </ul>
        
        <ul class="navbar-nav float: right">　
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
      </ul>
      
      
    </nav>
  </div>
</header>